<div class="breadcrumb-box">
    <a [routerLink]="['/Main/Home']" style="cursor: pointer;">Home</a> / <span>Contracts</span>
</div>
<div class="bg-white round-20 p-3">
    <div class="d-flex gap-2 align-items-center mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M23.333 5V11.6667C23.333 12.1087 23.5086 12.5326 23.8212 12.8452C24.1337 13.1577 24.5576 13.3333 24.9997 13.3333H31.6663M23.333 5H11.6663C10.7823 5 9.93444 5.35119 9.30932 5.97631C8.6842 6.60143 8.33301 7.44928 8.33301 8.33333V31.6667C8.33301 32.5507 8.6842 33.3986 9.30932 34.0237C9.93444 34.6488 10.7823 35 11.6663 35H28.333C29.2171 35 30.0649 34.6488 30.69 34.0237C31.3152 33.3986 31.6663 32.5507 31.6663 31.6667V13.3333M23.333 5L31.6663 13.3333M14.9997 28.3333H24.9997M14.9997 21.6667H24.9997" stroke="#4B85B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <h4 class="main-blue bold">Contracts</h4>
    </div>

     <div class="accordion" id="accordionExample"
    *ngIf="contractsList.length ">
        <div class="accordion-item" 
        *ngFor="let contract of contractsList ; let index=index ">
            <h2 class="accordion-header" id="heading{{index}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+index" [attr.aria-expanded]="index === 0 ? 'true' : 'false'"
                [attr.aria-controls]="'collapseOne'+index">
                    {{contract?.pmContract?.contractNumber}}
                </button>
            </h2>
            <div [id]="'collapseOne'+index" class="accordion-collapse collapse " [ngClass]="{ 'show': index === 0 }" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="bg-white round-20 p-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">

                            <div [ngClass]="getStatusClass(contract?.fndStatusLkp)">
                                {{contract?.fndStatusLkp?.nameEn}}
                            </div>

                            <div class="d-flex gap-2 justify-content-end">
                                <button class="btn btn-main-blue">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M17 17H19C19.5304 17 20.0391 16.7893 20.4142 16.4142C20.7893 16.0391 21 15.5304 21 15V11C21 10.4696 20.7893 9.96086 20.4142 9.58579C20.0391 9.21071 19.5304 9 19 9H5C4.46957 9 3.96086 9.21071 3.58579 9.58579C3.21071 9.96086 3 10.4696 3 11V15C3 15.5304 3.21071 16.0391 3.58579 16.4142C3.96086 16.7893 4.46957 17 5 17H7M17 9V5C17 4.46957 16.7893 3.96086 16.4142 3.58579C16.0391 3.21071 15.5304 3 15 3H9C8.46957 3 7.96086 3.21071 7.58579 3.58579C7.21071 3.96086 7 4.46957 7 5V9M7 15C7 14.4696 7.21071 13.9609 7.58579 13.5858C7.96086 13.2107 8.46957 13 9 13H15C15.5304 13 16.0391 13.2107 16.4142 13.5858C16.7893 13.9609 17 14.4696 17 15V19C17 19.5304 16.7893 20.0391 16.4142 20.4142C16.0391 20.7893 15.5304 21 15 21H9C8.46957 21 7.96086 20.7893 7.58579 20.4142C7.21071 20.0391 7 19.5304 7 19V15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>Print</span>
                                </button>
                                <button class="btn btn-purple">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M18.9995 18C19.9278 18 20.818 17.6312 21.4744 16.9749C22.1308 16.3185 22.4995 15.4283 22.4995 14.5C22.4995 13.5717 22.1308 12.6815 21.4744 12.0251C20.818 11.3687 19.9278 11 18.9995 11H17.9995C18.1454 10.35 18.1476 9.68041 18.006 9.02959C17.8644 8.37878 17.5818 7.75943 17.1743 7.20693C16.7667 6.65442 16.2422 6.17956 15.6308 5.80948C15.0193 5.43939 14.3329 5.18132 13.6106 5.05C12.8883 4.91868 12.1444 4.91667 11.4213 5.04411C10.6981 5.17154 10.01 5.42592 9.39609 5.79271C8.15626 6.53348 7.29419 7.68718 6.9995 9C5.93345 8.9573 4.88504 9.2704 4.03377 9.8857C3.1825 10.501 2.58132 11.3802 2.33317 12.3728C2.08502 13.3654 2.20533 14.4097 2.6735 15.3268C3.14167 16.2439 3.92858 16.9768 4.8995 17.4M11.9995 13V22M11.9995 22L8.99951 19M11.9995 22L14.9995 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>Download</span>
                                </button>

                            </div>
                        </div>



                        <div class="row mb-3" *ngFor="let unit of contract?.listPmContractUnitDetails">
                            <h4 class="title-gray mb-2">Unit Details</h4>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <div class="unit-details">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M9 21V15C9 14.4696 9.21071 13.9609 9.58579 13.5858C9.96086 13.2107 10.4696 13 11 13H13C13.5304 13 14.0391 13.2107 14.4142 13.5858C14.7893 13.9609 15 14.4696 15 15V21M5 12H3L12 3L21 12H19V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H7C6.46957 21 5.96086 20.7893 5.58579 20.4142C5.21071 20.0391 5 19.5304 5 19V12Z" stroke="#D6C4AC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    {{unit?.unitType}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <div class="unit-details">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M3 7V18M3 14H21M21 18V10C21 9.46957 20.7893 8.96086 20.4142 8.58579C20.0391 8.21071 19.5304 8 19 8H11V14M6 10C6 10.2652 6.10536 10.5196 6.29289 10.7071C6.48043 10.8946 6.73478 11 7 11C7.26522 11 7.51957 10.8946 7.70711 10.7071C7.89464 10.5196 8 10.2652 8 10C8 9.73478 7.89464 9.48043 7.70711 9.29289C7.51957 9.10536 7.26522 9 7 9C6.73478 9 6.48043 9.10536 6.29289 9.29289C6.10536 9.48043 6 9.73478 6 10Z" stroke="#D6C4AC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    {{unit?.noOfRooms}}
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <div class="unit-details">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M6 12V5C6 4.46957 6.21071 3.96086 6.58579 3.58579C6.96086 3.21071 7.46957 3 8 3H11V5.25M4 21L5 19.5M20 21L19 19.5M4 12H20C20.2652 12 20.5196 12.1054 20.7071 12.2929C20.8946 12.4804 21 12.7348 21 13V16C21 17.0609 20.5786 18.0783 19.8284 18.8284C19.0783 19.5786 18.0609 20 17 20H7C5.93913 20 4.92172 19.5786 4.17157 18.8284C3.42143 18.0783 3 17.0609 3 16V13C3 12.7348 3.10536 12.4804 3.29289 12.2929C3.48043 12.1054 3.73478 12 4 12Z" stroke="#D6C4AC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    1 Bath
                                </div>
                            </div> -->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <div class="unit-details">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M4 20V6C4 5.46957 4.21071 4.96086 4.58579 4.58579C4.96086 4.21071 5.46957 4 6 4H20M20 8V8.01M20 12V12.01M20 16V16.01M8 20V20.01M12 20V20.01M16 20V20.01M20 20V20.01" stroke="#D6C4AC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    {{unit?.unitSize || '_'}} Sq.ft
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 border-bottom">
                            <h4 class="title-gray mb-2">Contract Details5</h4>
                            <div class="row">
                                <div class="col-lg-3 mb-3">
                                    <p class="bold main-blue">Start Date</p>
                                    <p>{{contract?.pmContract?.contractStartDate}}</p>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <p class="bold main-blue">End Date </p>
                                    <p>{{contract?.pmContract?.contractEndDate}}</p>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <p class="bold main-blue">Payment </p>
                                    <p>Quarterly</p>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <p class="bold main-blue">Rental amount  </p>
                                    <p>{{contract?.pmContract?.rentAmount | currency:'AED' }}</p>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <p class="bold main-blue">Payment Method </p>
                                    <p>Cheques</p>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <p class="bold main-blue">Cheques </p>
                                    <p>{{contract?.listPmContractPayments?.length}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 border-bottom">
                            <h4 class="title-gray mb-2">LEGAL DESCRIPTION</h4>
                            <p>
                                {{contract?.pmContract?.note || '-----'}}
                            </p>
                        </div>

                        <div class="mb-3 ">
                            <h4 class="title-gray mb-2">Cheques</h4>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cheque of contract?.listPmContractPayments">
                                        <td>  {{cheque?.paymentDate}} </td>
                                        <td>  {{cheque?.amount}}  </td>
                                        <td>
                                            <div class="status-yellow">Pending</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class=" border-bottom">
                            <h4 class="title-gray mb-2">ADDITIONAL TERMS AND CONDITIONS</h4>
                            <p>
                                {{contract?.pmContract?.condition1 + contract?.pmContract?.condition2 + contract?.pmContract?.condition3 + contract?.pmContract?.condition4 + contract?.pmContract?.condition5}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 
    
      
</div>